# Entornos virtuales
.venv/
venv/

# Archivos temporales
*.pyc
__pycache__/
*.log
*.tmp

# IDEs
.idea/
.vscode/

# Otros
.DS_Store       # Archivos de macOS
Thumbs.db       # Archivos de Windows
.qodo
